<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Equipo de trabajo</h2>
			<p>Este estudio colaborativo entre equipos de investigación multidiciplinario esta compuesto por profesionales chilenos y chinos<br /></p>
		</header>
		<ul class="features">
			<li>
				<h3>Mauricio Zambrano-Bigiarini</h3>
				<p>Profesor del Departamento de Ingeniería en Obras Civiles de la Facultad de Ingeniería y Ciencias de la Universidad de La Frontera. PhD en ingeniería ambiental de la Universidad de Trento, Italia.</p>
			</li>
			<li>
				<h3>Yangbo Chen</h3>
				<p>Profesor titular de la Facultad de Geografía y Planificación de la Universidad Sun Yat-sen, y Director del Laboratorio de Informática y Gestión de Desastres de Agua.</p>
			</li>
			<li>
				<h3>Ivo Fustos Toribio</h3>
				<p>Profesor de la Facultad de Ingeniería y Ciencias de la Universidad de La Frontera, Doctor en Ciencias Geológicas, Universidad de Concepción.</p>
			</li>
			<li>
				<h3>Zishen Chen</h3>
				<p>Profesor titular de la Facultad de Geografía y Planificación de la Universidad Sun Yat-sen, y un académico superior en ciencias del agua en China.</p>
			</li>
			<li>
				<h3>Camila Alvarez Garreton</h3>
				<p>Doctora en ingeniería en la Universidad de Melbournebecaria, becaria postdoctoral en el Centro de Investigación sobre Clima y Resiliencia (CR2).</p>
			</li>
			<li>
				<h3>Yaodong Du</h3>
				<p>Profesor del Centro de Clima de la Provincia de Guangdong y experto principal en cambio climático de la Provincia de Guangdong.</p>
			</li>
			<li>
				<h3>Pilar Barría Sandoval</h3>
				<p>Ingeniera civil, profesora asistente de la Facultad de Ciencias Forestales de la Universidad de Chile.</p>
			</li>
			<li>
				<h3>Wei Sun</h3>
				<p>Profesor asociado de la Facultad de Geografía y Planificación de la Universidad Sun Yat-Sen. Recibió el Premio del Gobierno chino para estudiantes autofinanciados destacados en el extranjero (2011-2012).</p>
			</li>
			<li>
				<h3>Mauricio Galleguillos Torres</h3>
				<p>Profesor asociado del Departamento de Ciencias Ambientales y Recursos Naturales Renovables de la Facultad de Ciencias Agronómicas de la Universidad de Chile, Doctor en ciencias agronómicas especialidad aguas continentales y sociedad en Montpellier SupAGRO, Francia.</p>
			</li>
			<li>
				<h3>Yan Duan</h3>
				<p> Investigador asociado en la Facultad de Geografía y Planificación de la Universidad Sun Yat-sen.</p>
			</li>
			<li>
				<h3>Daniela Manuschevich</h3>
				<p>Bióloga. Doctorado en Política de Recursos Naturales. Profesora a tiempo completo en la Escuela de Geografía de la Universidad Academia de Humanismo Cristiano.</p>
			</li>
			<li>
				<h3>Lisheng Tang</h3>
				<p>Ingeniero Senior en el Centro Climático de la provincia de Guangdong.</p>
			</li>
			<li>
				<h3>Juan Pablo Boisier</h3>
				<p>Físico, doctor en meteorología y climatología, investigador a tiempo completo en el Centro de Investigación del Clima y Resiliencia (CR2).</p>
			</li>
			<li>
				<h3>Ming Zhong</h3>
				<p>Profesor titular en la Escuela de Geografía y Planificación de la Universidad Sun Yat-Sen.</p>
			</li>
		</ul>
	</div>
</section>
